@using  PatniListi.Web.Infrastructure;
@model PaginatedList<PatniListi.Web.ViewModels.Models.Routes.RouteViewModel>

@{
    ViewData["Title"] = "Маршрути";
}

<section class="py-5">
    <div class="container shadow py-4 px-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <div>
            <a class="nav-link btn btn-primary btn-block text-uppercase" asp-area="" asp-controller="Routes" asp-action="Create">Добави маршрут</a>

            <div>
                <div class="clearfix"></div>

                @if (!Model.PreviousDisabled)
                {
                    <div class="float-md-left">
                        <a asp-action="All"
                           asp-route-pageNumber="@Model.PreviousPage"
                           class="button">
                            Предишна
                        </a>
                    </div>
                }

                @if (!Model.NextDisabled)
                {
                    <div class="float-md-right">
                        <a asp-action="All"
                           asp-route-pageNumber="@Model.NextPage"
                           class="button">
                            Следваща
                        </a>
                    </div>
                }
            </div>
        </div>

        <br />
        <br />

        <table class="table table-responsive-md table-hover">
            <tr class="text-white">
                <th>
                    Начална точка
                </th>
                <th>
                    Крайна точка
                </th>
                <th>
                    Разстояние
                </th>
                <th>

                </th>
                <th>

                </th>
            </tr>
            @foreach (var route in Model)
            {
                <tr>
                    <td>
                        @route.StartPoint
                    </td>
                    <td>
                        @route.EndPoint
                    </td>
                    <td>
                        @route.Distance
                    </td>
                    <td>

                    </td>

                    <td class="text-center">
                        <div>
                            <a href="/Routes/Edit/@route.Id" class="justify-content-md-between">Промени</a>
                        </div>
                    </td>
                </tr>
            }
        </table>
        <br />

        <div class="form-group text-center">
            <div class="button-holder">
                <a asp-area="Administration" asp-controller="Cars" asp-action="All" class="text-uppercase">Автомобили</a>
            </div>
        </div>
    </div>
</section>