@model PatniListi.Web.ViewModels.Administration.Companies.CompanyEditViewModel

@{
    ViewData["Title"] = $"Промени фирма {Model.Name}";
}

<section class="py-5">
    <div class="container shadow py-4 px-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <div class="card-body">
            <form asp-area="Administration" asp-controller="Companies" asp-action="Edit" asp-route-id="@Model.Id" method="post">
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Name"></label>
                            <input asp-for="Name" class="form-control text-white" id="name" name="Name" value="@Model.Name">
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Bulstat"></label>
                            <input asp-for="Bulstat" class="form-control text-white" id="bulstat" name="Bulstat" value="@Model.Bulstat">
                            <span asp-validation-for="Bulstat" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Address"></label>
                            <input asp-for="Address" class="form-control text-white" id="address" name="Address" value="@Model.Address">
                            <span asp-validation-for="Address" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="PhoneNumber"></label>
                            <input asp-for="PhoneNumber" class="form-control text-white" id="phoneNumber" name="PhoneNumber"  placeholder="+359 887 300 300, +359 2 300 300" value="@Model.PhoneNumber">
                            <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" asp-for="VatNumber" class="form-control text-white" value="@Model.VatNumber">
                        </div>
                    </div>
                </div>
                <br />

                <div class="form-group text-center">
                    <div class="button-holder">
                        <input type="submit" value="Запази" class="btn btn-primary btn-block text-uppercase" />
                        <a asp-area="Administration" asp-controller="Companies" asp-action="Details" asp-route-id="@Model.Id" class="text-uppercase">@Model.Name</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
