@model PatniListi.Web.ViewModels.Administration.Users.UserDeleteViewModel

@{
    ViewData["Title"] = $"Сигурни ли сте, че искате да изтриете {Model.FullName}?";
}

<section class="py-5">
    <div class="container shadow py-4 px-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Username"></label>
                        <input asp-for="Username" readonly class="form-control text-white" id="username" name="Username" value="@Model.Username">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Email"></label>
                        <input asp-for="Email" readonly class="form-control text-white" id="email" name="Email" value="@Model.Email">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FullName"></label>
                        <input asp-for="FullName" readonly class="form-control text-white" id="fullName" name="FullName" value="@Model.FullName">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CompanyName"></label>
                        <input asp-for="CompanyName" readonly class="form-control text-white" id="companyName" name="CompanyName" value="@Model.CompanyName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="AllCars"></label>
                        <input asp-for="AllCars" readonly class="form-control text-white" id="carModel" name="Carmodel" value="@string.Join(", ", Model.AllCars.Select(d => d.CarModel))">
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="form-group text-center">
            <div class="button-holder">
                <a href="/Administration/Drivers/ConfirmDelete?Id=@Model.Id" class="btn btn-primary btn-block text-uppercase">Изтрий</a>
                <a asp-area="Administration" asp-controller="Drivers" asp-action="All" class="text-uppercase">Шофьори</a>
            </div>
        </div>
    </div>
</section>