@model PatniListi.Web.ViewModels.Administration.Users.UserEditViewModel

@{
    ViewData["Title"] = $"Промени {Model.FullName}";
}

<section class="py-5">
    <div class="container shadow py-4 px-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <div class="card-body">
            <form asp-area="Administration" asp-controller="Drivers" asp-action="Edit" asp-route-id="@Model.Id" method="post">
                <hr />
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Username" class="control-label"></label>
                            <input asp-for="Username" class="form-control" value="@Model.Username"/>
                            <span asp-validation-for="Username" class="text-primary"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="Email" class="control-label"></label>
                            <input asp-for="Email" class="form-control" value="@Model.Email"/>
                            <span asp-validation-for="Email" class="text-primary"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="FullName" class="control-label"></label>
                            <input asp-for="FullName" class="form-control" value="@Model.FullName"/>
                            <span asp-validation-for="FullName" class="text-primary"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label asp-for="CompanyName" class="control-label"></label>
                            <input asp-for="CompanyName" readonly class="form-control text-white" value="@Model.CompanyName" />
                            <span asp-validation-for="CompanyName" class="text-primary"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input type="hidden" asp-for="Id" readonly class="form-control" value="@Model.Id" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="CompanyId" readonly class="form-control" value="@Model.CompanyId" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="CreatedOn" readonly class="form-control" />
                        </div>
                        <div class="form-group">
                            <input type="hidden" asp-for="ConcurrencyStamp" readonly class="form-control" />
                        </div>
                    </div>
                </div>
                <br />

                <div class="form-group text-center">
                    <div class="button-holder">
                        <input type="submit" value="Запази" class="btn btn-primary btn-block text-uppercase" />
                        <a asp-area="Administration" asp-controller="Drivers" asp-action="All" class="text-uppercase">Шофьори</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}