@using  PatniListi.Web.Infrastructure;
@model PaginatedList<PatniListi.Web.ViewModels.Administration.Cars.CarViewModel>

@{
    ViewData["Title"] = "Автомобили";
}

    <section class="py-5">
        <div class="container shadow py-4 px-4">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <div>
                <a class="nav-link btn btn-primary btn-block text-uppercase" asp-area="Administration" asp-controller="Cars" asp-action="Create">Добави автомобил</a>

                <div>
                    <div class="clearfix"></div>
                    @if (Model.TotalPages != 0)
                    {
                        if (!Model.PreviousDisabled)
                        {
                            <div class="float-md-left">
                                <a asp-action="All"
                                   asp-route-pageNumber="@Model.PreviousPage"
                                   class="button">
                                    Предишна
                                </a>
                            </div>
                        }

                        if (!Model.NextDisabled)
                        {
                            <div class="float-md-right">
                                <a asp-action="All"
                                   asp-route-pageNumber="@Model.NextPage"
                                   class="button">
                                    Следваща
                                </a>
                            </div>
                        }
                    }
                </div>
            </div>

            <br />
            <br />

            <table class="table table-responsive-md table-hover">
                <tr class="text-white">
                    <th>
                        Модел
                    </th>
                    <th>
                        Hомер
                    </th>
                    <th>
                        Гориво
                    </th>
                    <th>

                    </th>
                </tr>
                @foreach (var car in Model)
                {
                    <tr>
                        <td>
                            @car.Model
                        </td>
                        <td>
                            @car.LicensePlate
                        </td>
                        <td>
                            @car.FuelType
                        </td>

                        <td class="text-center">
                            <div>
                                <a href="/Administration/Cars/Details/@car.Id" class="justify-content-md-between">Детайли</a>
                            </div>
                            <div>
                                <a href="/Administration/Cars/Edit/@car.Id" class="justify-content-md-between">Промени</a>
                            </div>
                            <div>
                                <a href="/Administration/Cars/Delete/@car.Id" class="justify-content-md-between">Изтрий</a>
                            </div>
                            <div>
                                <a href="/Administration/Invoices/All/@car.Id" class="justify-content-md-between">Фактури</a>
                            </div>
                            <div>
                                <a href="/Administration/TransportWorkTickets/All/@car.Id" class="justify-content-md-between">Пътни листи</a>
                            </div>
                        </td>
                    </tr>
                }
            </table>

            <div class="form-group text-center">
                <div class="button-holder">
                    <a asp-area="Administration" asp-controller="Drivers" asp-action="All" class="text-uppercase">Шофьори</a>
                </div>
            </div>
        </div>
     </section>