@using  PatniListi.Web.Infrastructure;
@model PaginatedList<PatniListi.Web.ViewModels.Administration.Cars.CarViewModel>

@{
    ViewData["Title"] = "Автомобили";
}

    <section class="py-5">
        <div class="container shadow py-4 px-4">
            <h1 class="text-center">@ViewData["Title"]</h1>
            <div>
                <a class="nav-link btn btn-primary btn-block text-uppercase" asp-area="Administration" asp-controller="Cars" asp-action="Create">Добави автомобил</a>

                <div class="row">
                    <div class="clearfix"></div>
                    @{
                        var prevDisabled = !Model.HasPreviousPage ? "disabled" : "";
                        var nextDisabled = !Model.HasNextPage ? "disabled" : "";
                    }
                    <div class="col-md-6 text-md-right">
                        <a asp-action="All"
                           asp-route-pageNumber="@(Model.PageIndex - 1)"
                           class="button @prevDisabled">
                            Предишна
                        </a>
                    </div>

                    <div class="col-md-6 text-md-left">
                        <a asp-action="All"
                           asp-route-pageNumber="@(Model.PageIndex + 1)"
                           class="button @nextDisabled">
                            Следваща
                        </a>
                    </div>
                </div>
            </div>

            <br />
            <br />

            <table class="table table-responsive-md table-hover">
                <tr class="text-white">
                    <th>
                        Модел
                    </th>
                    <th>
                        Hомер
                    </th>
                    <th>
                        Гориво
                    </th>
                    <th>

                    </th>
                </tr>
                @foreach (var car in Model)
                {
                    <tr>
                        <td>
                            @car.Model
                        </td>
                        <td>
                            @car.LicensePlate
                        </td>
                        <td>
                            @car.FuelType
                        </td>

                        <td class="text-center">
                            <div>
                                <a href="/Administration/Cars/Details/@car.Id" class="justify-content-md-between">Детайли</a>
                            </div>
                            <div>
                                <a href="/Administration/Cars/Edit/@car.Id" class="justify-content-md-between">Промени</a>
                            </div>
                            <div>
                                <a href="/Administration/Cars/Delete/@car.Id" class="justify-content-md-between">Изтрий</a>
                            </div>
                        </td>
                    </tr>
                }
            </table>
        </div>
     </section>