@model PatniListi.Web.ViewModels.Administration.Cars.CarDeleteViewModel

@{
    ViewData["Title"] = $"Сигурни ли сте, че искате да изтриете {Model.Model}?";
}

<section class="py-5">
    <div class="container shadow py-4 px-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Model"></label>
                        <input asp-for="Model" readonly class="form-control text-white" id="model" name="Model" value="@Model.Model">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="LicensePlate"></label>
                        <input asp-for="LicensePlate" readonly class="form-control text-white" id="licensePlate" name="LicensePlate" value="@Model.LicensePlate">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="FuelType"></label>
                        <input asp-for="FuelType" readonly class="form-control text-white" id="fuelType" name="FuelType" value="@Model.FuelType">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CompanyName"></label>
                        <input asp-for="CompanyName" readonly class="form-control text-white" id="companyName" name="CompanyName" value="@Model.CompanyName">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label asp-for="AllDrivers"></label>
                        <input asp-for="AllDrivers" readonly class="form-control text-white" id="applicationUserFullName" name="ApplicationUserFullName" value="@string.Join(", ", Model.AllDrivers.Select(d => d.ApplicationUserFullName))">
                    </div>
                </div>
            </div>
        </div>
        <br />

        <div class="form-group text-center">
            <div class="button-holder">
                <a href="/Administration/Cars/ConfirmDelete?Id=@Model.Id" class="btn btn-primary btn-block text-uppercase">Изтрий</a>
                <a asp-area="Administration" asp-controller="Cars" asp-action="All" class="text-uppercase">Автомобили</a>
            </div>
        </div>
    </div>
</section>