@model PatniListi.Web.ViewModels.Administration.Invoices.InvoiceDeleteViewModel

@{
    ViewData["Title"] = $"Сигурни ли сте, че искате да изтриете фактура с номер {Model.Number}?";
}

<section class="py-5">
    <div class="container shadow py-4 px-4">
        <h1 class="text-center">@ViewData["Title"]</h1>
        <div class="card-body">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CarModel"></label>
                        <input asp-for="CarModel" readonly class="form-control text-white" value="@Model.CarModel" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="CarFuelType"></label>
                        <input asp-for="CarFuelType" readonly class="form-control text-white" value="@Model.CarFuelType" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Number"></label>
                        <input asp-for="Number" readonly class="form-control text-white" value="@Model.Number" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Date"></label>
                        <input type="text" asp-for="Date" readonly class="form-control text-white" value="@Model.Date.ToShortDateString()" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="CreatedBy"></label>
                        <input asp-for="CreatedBy" readonly class="form-control text-white" value="@Model.CreatedBy" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="ApplicationUserFullName"></label>
                        <input asp-for="ApplicationUserFullName" readonly class="form-control text-white" value="@Model.ApplicationUserFullName" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Location"></label>
                        <input asp-for="Location" readonly class="form-control text-white" value="@Model.Location" />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Quantity"></label>
                        <input asp-for="Quantity" readonly class="form-control text-white" value="@Model.Quantity" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="Price"></label>
                        <input asp-for="Price" readonly class="form-control text-white" value="@Model.Price" />
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="TotalPrice" class="text-md-left"></label>
                        <input asp-for="TotalPrice" readonly class="form-control text-white" value="@Model.TotalPrice" />
                    </div>
                </div>
            </div>
            <br />

            <div class="form-group text-center">
                <div class="button-holder">
                    <a href="/Administration/Invoices/ConfirmDelete?Id=@Model.Id" class="btn btn-primary btn-block text-uppercase">Изтрий</a>
                    <a asp-area="Administration" asp-controller="Invoices" asp-action="All" asp-route-id="@Model.CarId" class="text-uppercase">Фактури</a>
                </div>
            </div>
        </div>
    </div>
</section>